h2 {
  color: brown;
}

body {
  background-color: grey;
  padding: 2px;
}
.boxes {
  border: 4px solid blue;
  border-radius: 20px;
  text-align: center;
  width: 30em;
  margin: 10px 0;
}

#box1 {
  background-color: rgb(86, 48, 255);
}

#box2 {
  background-color: aqua;
}

#box3 {
  background-color: blueviolet;
}

#box4 {
  background-color: cadetblue;
}

.image {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: yellow;
}

h1 {
  color: teal;
}

.Original {
  color: green;
}

.additional {
  color: brown;
}

#list1 {
  border: 2px solid black;
  color: blueviolet;
}

.star {
  border: 2px solid black;
}

#list2 {
  color: aqua;
}
#wars {
  color: red;
}

.circle-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.readme-wrapper {
  text-decoration: underline;
  color: brown;
}

.readme-wrapper:hover {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}
